@import "reset.scss";
@import "tables.scss";

$fg: black;

h1 {
  color: $fg;
  font-family: 'Raleway',sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase; 
}

a {
  color: green;
  text-decoration: underline;
}

a:hover {
  @extend a;
  color: blue;
}

.main {
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 400px;
  padding: 20px;
}

.loader {
    padding: 50px;
    background: url('../img/loader.gif') no-repeat 50% 50% transparent;
}

.seasonwinner {
  background-color: red;
}