  <h1>Season {{season.name}}</h1>
  <div ng-hide="isRacesLoaded" class="loader">
    <!-- image here via CSS -->
  </div>
  <table ng-hide="!isRacesLoaded" class="table">
    <thead>
      <tr>
         <th>#</th>
         <th>Race name</th>
         <th>Winner</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="race in races">
        <td>{{$index + 1}}</td>
        <td>
          {{race.name}}          
        </td>
        <!-- highlight the seasons winner with the winner class -->
        <td ng-class="{seasonwinner: season.winner.id == race.winner.id}">
          {{race.winner.name}}          
        </td>
      </tr>
    </tbody>
  </table>