  <h1>Seasons</h1>
  
  <table class="table">
    <tbody>
      <tr ng-repeat="season in seasons">
        <td>{{$index + 1}}</td>
        <td>
          <a href="#/season/{{season.id}}" >{{season.name}}</a>
        </td>
      </tr>
    </tbody>
  </table>